.courses-container_course {
  position: relative;

  &:hover > button:last-child {
    display: block;
  }

  i {
    margin-bottom: 10px;
  }

  p {
    justify-content: space-between;
    width: 240px;
    @include flex(row);
  }

  .delete,
  .update {
    display: none;
  }

  .edit {
    background-color: transparent;
    border: none;
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 6px 2px 2px;
    @include maxWidth(350px) {
      right: 5px;
    }
  }

  .delete,
  .update {
    display: none;
    position: absolute;
    top: 10px;
    right: 37.5px;
    padding: 6px 9px 1px 9px;
    background-color: red;
    border: none;
    color: $color-light;
    transition: 2s ease-in;
    @include maxWidth(350px) {
      right: 22.5px;
    }
  }

  .update {
    display: none;
    right: 72px;
    padding: 6px 7px 1px 9px;
    background-color: rgb(0, 174, 255);
    @include maxWidth(350px) {
      right: 55px;
    }
  }

  span {
    font-size: $font-S;
  }
}
