.credits {
  .credits-total {
    @include flex();
    align-items: center;
    justify-content: center;

    span {
      font-size: $font-XXL;
      @include maxWidth(335px) {
        font-size: $font-M;
      }
    }
  }
}
