/* Footer */
footer {
  @include flex();
  @include light-theme(false);
  justify-content: space-around;
  min-height: 160px;
  padding: $padding-div;
  text-align: center;

  /* Social Icons */
  a {
    font-size: $font-L;
  }

  .social i {
    color: $color-light;
    margin: 5px;
  }

  /* © */
  small {
    font-size: $font-XS;
  }
}
