/* callback form */
.contact-form {
  margin: auto;
  max-width: 600px;
  padding: 20px;
  width: 100%;

  input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
    margin: 1px 0;

    &:focus {
      outline-color: lighten($darkblue, 80%)
    }
  }

  .contact-form_buttons {
    @include flex(row, wrap)
  }

  .btn {
    margin-top: 20px;
    width: 50%;
  }

  #submit {
    @include light-theme(false);
  }
}
