.header-content {
  @include flex(row);
  align-items: center;
  height: 125px;
  justify-content: space-between;
  margin: auto;
  max-width: 1600px;
  padding: 0 30px;
  transition: 0.5s ease-in;
  width: 100%;

  @include maxWidth(812px) {
    height: 70px;
  }

  @include maxWidth(380px) {
    padding: 0 20px;
  }

  i {
    color: $color-dark;
  }

  a {
    font-size: $font-L;
    margin: 0 5px;
    text-decoration: none;

    &:visited {
      color: $color-light;
    }

    &:hover {
      opacity: 0.75;
    }

    @include maxWidth(550px) {
      font-size: $font-M;
    }

     @include maxWidth(380px) {
      font-size: $font-S;
    }
  }

  /* Logo */
  .logo {
    font-weight: 200;
    font-family: 'Rajdhani', sans-serif;
    font-size: 3.6rem;
    letter-spacing: 7px;
    text-shadow: 1px 0px 3px #fff;

    @include maxWidth(550px) {
      font-size: $font-XXL;
      font-weight: bold;
      letter-spacing: 3px;
    }

    @include maxWidth(380px) {
      font-size: $font-XL;
      letter-spacing: 1px;
    }
  }
}
