.feedback {
  border-radius: 3px;
  display: none;
  padding: 10px 20px;
  position: fixed;
  right: 10px;
  top: 10px;

  &:hover {
    cursor: pointer;
  }

  #confirm {
    border: none;
    border-radius: 5px;
    margin: 0 0 0 5px;
    padding: 7.5px 10px;
  }
}
