.feedback {
  border-radius: 3px;
  display: none;
  padding: 10px 20px;
  position: fixed;
  right: 10px;
  top: 10px;

  &:hover {
    cursor: pointer;
  }

  #feedback-message {
    color: $color-light;
  }
}
