a {
  text-decoration: none;
  color: $color-dark;

  &:hover {
    opacity: 0.75;
    text-decoration: underline;
  }

  &:visited {
    color: $color-dark;
  }
}

h1 {
  font-size: $font-h1;
  font-weight: 300;
  line-height: 5.8rem;
}

h2 {
  font-weight: 300;
  line-height: 4.2rem;
  font-size: $font-h2;
  @include maxWidth(600px) {
    font-size: $font-XXXL;
  }
  @include maxWidth(335px) {
    font-size: $font-XXL;
    font-weight: 400;
  }
}

h3 {
  font-size: $font-L;
}

/* Section Header */
.section-header {
  padding: 20px 20px 10px;
  text-align: center;
}
