/* Color scheme */
$darkblue: rgb(18, 29, 35);
$offwhite: #f7f7f7;
$black: #272727;

/* Font sizing */
$font-XS: 1.2rem;
$font-S: 1.4rem;
$font-M: 1.6rem;
$font-L: 1.8rem;
$font-XL: 2rem;
$font-XXL: 2.2rem;
$font-XXXL: 3rem;
$font-h1: 5.5rem;
$font-h2: 4rem;

/* Font fams */
$font-main: 'open sans', sans-serif;

/* Font colors */
$color-dark: $black;
$color-light: $offwhite;

/* Background colors */
$bg-light: $offwhite;
$bg-dark: $black;

/* Standardized padding */
$padding-div: 20px;
